@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Regular.eot');
	src: local('☺'), url('../fonts/Ubuntu-Regular.woff') format('woff'), url('../fonts/Ubuntu-Regular.ttf') format('truetype'), url('../fonts/Ubuntu-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

