html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PlayfairDisplay', sans-serif;
    color: #626262;
}

.none {
    display: none !important;
}

img {
    width: 100%;
}

.title__style {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}

/* Wraper */

.wraper_top {
    max-width: 1061px;
    margin: 0 auto;
}

.wraper {
    max-width: 895px;
    margin: 0 auto;
}

.wraper2 {
    max-width: 985px;
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
}

.header__wraper {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 158px;
    align-items: center;
    text-transform: uppercase;
}

.header__logo {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    line-height: 0.7;
    letter-spacing: 6px;
    text-align: center;
    color: #000000;
    z-index: 3;
}

.header__burger {
    display: none;
}

.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    padding-left: 90px;
}

.header__link {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #626262;
}

/* Photo */

.photo__blog {
    padding-top: 164px;
    margin-bottom: 98px;
}

.photodiary__diary {
    margin-bottom: 24px;
}

.photodiary__title {
    margin-bottom: 25px;
}

.photodiary__main {
    font-size: 30px;
    margin-bottom: 31px;
}

.photodiary__info>* {
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 47px;
}

.photodiary__slogan {
    font-style: italic;
    padding: 0px 20px;
    margin-bottom: 39px;
}

.photodiary__coment {
    margin-bottom: 133px;
}

.photodiary__share {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 106px 0px 74px 0px;
}

.photodiary__share>*+* {
    margin-left: 18px;
}

/* Lifestyle */

.lifestyle {}

.lifestyle__card_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lifestyle__card {
    max-width: 421px;
    max-width: calc(50% - 30px);
    margin-bottom: 129px;
}

.lifestyle__card img {
    margin-bottom: 32px;
}

.lifestyle__indents a {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}

.lifestyle__indents h2 {
    font-size: 30px;
    margin: 23px 0px 33px 0px;
}

.lifestyle__indents p {
    font-size: 14px;
    line-height: 1.71;
}

/* New */

.news {
    padding: 69px 0px 74px 0px;
    margin-bottom: 94px;
    background-color: #f0f0f0;
}

.news__wraper {
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.news__heading {
    font-size: 30px;
    letter-spacing: 0.75px;
    text-align: center;
    color: #333333;
    margin-bottom: 81px;
}

.news__email {
    text-align: center;
    margin-bottom: 8px;
}

.news__email input {
    width: 100%;
    line-height: 1.71;
    font-size: 14px;
    max-width: 356px;
    background-color: #f0f0f0;
}

.news__email img {
    max-width: 32px;
    padding-top: 5px;
}

/* Pagination */

.load {
    margin-bottom: 50px;
}

.load__btn {
    text-align: center;
    margin: 52px 0px 158px 0px;
}

.load__link {
    padding: 15px 34px;
    font-size: 20px;
    border: solid 1px #626262;
    color: #626262;
    text-align: center;
    line-height: 1.2;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.load__link:hover {
    border-color: #ff861a;
    color: #ff861a;
}

/* Footer */

.footer {
    padding: 35px 0px;
    background-color: #f0f0f0;
}

.footer a {
    font-size: 15px;
    line-height: 1.71;
    color: black;
}

.footer__wraper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
}

.footer__wraper a:hover {
    text-decoration: underline;
}

.footer__privacy a {
    padding-right: 30px;
}

.footer__social a {}

.footer__social img {
    max-width: fit-content;
    padding: 5px 0px 0px 20px;
}

/* Post full */

.post {}

.post__card {
    max-width: 900px;
    margin-bottom: 60px;
}

/* Slider */

.wraper__slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Основные стили */

/* Слайдер */

.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
}

/* Лента слайдов */

.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд */

.slick-slide {}

/* Слайд активный */

.slick-slide.slick-active {}

/* Слайд основной */

.slick-slide.slick-current {}

/* Слайд по центру */

.slick-slide.slick-center {}

/* Стрелка */

.slick-arrow {}

/* Стрелка влево */

.slick-arrow.slick-prev {}

/* Стрелка вправо */

.slick-arrow.slick-next {}

/* Стрелка не активная */

.slick-arrow.slick-disabled {}

/* Точки */

.slick-dots {}

.slick-dots li {}

.slick-dots button {}

/* Конкретный слайдер */

.block__slider {
    padding: 70px 0px 40px 0px;
    background-color: #f5f5f5;
    margin-bottom: 65px;
}

.slider__title {
    margin: 0px 0px 40px 70px;
}

.slider__wraper {
    max-width: 1038px;
    margin: 0 auto;
}

.slider {
    position: relative;
    padding: 0px 50px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -75px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 45px;
}

.slider .slick-arrow:hover {
    background-color: #fff;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrow/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrow/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.slider .slick-dots li {
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid grey;
}

.slider__item {
    padding: 0px 20px;
    max-width: 400px;
}

.slider__item img {
    margin-bottom: 23px;
}

.slider__item h2 {
    font-size: 20px;
}

/* Comments */

.comments {}

.comment__block {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin-bottom: 50px;
}

.comment__block:first-child {
    margin-bottom: 43px;
}

.comment__block:nth-last-child(2) {
    margin-bottom: 35px;
}

.comment__block:last-child {
    justify-content: flex-end;
    margin-bottom: 93px;
}

.comment__avatar img {
    width: 70px;
    border-radius: 50%;
}

.comment__user {
    margin-left: 35px;
}

.comment__user h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 11px;
}

.comment__user p {
    min-height: 35px;
    margin-bottom: 22px;
    line-height: 1.7;
}

.comment__discussin {
    width: 100%;
    padding: 25px;
    text-transform: uppercase;
    border-radius: 6px;
    margin-left: 35px;
    border: 1px solid #EDEDEB;
}

.connected__icon {
    padding-left: 16px;
}

.wrapper__page {
    display: flex;
    justify-content: flex-end;
}

.content__wrapper {
    max-width: 660px;
    /* width: calc(100% - 250px); */
    margin-right: 45px;
}

/* Siderbar */

.sidebar__wrapper {
    max-width: 270px;
}

.sidebar__photo {
    margin-bottom: 26px;
}

.sidebar__aboutme p {
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 21px;
}

.sidebar__title {
    font-size: 24px;
    margin-bottom: 14px;
}

.sidebar__social {
    display: flex;
    margin-bottom: 75px;
}

.sidebar__social img {
    padding-right: 16px;
}

.sidebar__post {
    margin-bottom: 50px;
}

.sidebar__post>ul div {
    margin: 0px 0px 26px 28px;
}

.sidebar__post>ul li {
    position: relative;
    padding: 0px 25px 15px 28px;
}

/* .sidebar__post li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
} */

.sidebar__post li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 18px;
    left: 0px;
    border-radius: 50%;
    background-color: #b6b19e;
}

.sidebar__post_title {
    margin-bottom: 34px;
}

.sidebar__banner {
    max-width: 250px;
}